<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="container w-75 navbar bg-light p-2  navbar-inverse shadow-sm mb-1">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand fonts text-dark fw-bolder" href="{% url 'index' %}"><i class="fa-brands fa-instagram-square"></i>Instagram</a>
    </div>
   
    
    <div class="d-flex navbar-left">
        <form class="nav-form "  role="search" action="">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="name">
              <div class="input-group-btn">
                <button class="btn  btn-default " type="submit"><i class="fa-solid fa-magnifying-glass"></i></span></button>
              </div>
            </div>
         </form>
         
            <li class="nav-item text-decoration-none">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}"> <i class="fa fa-house fa-1x"></i></i></a>
            </li>
            <li class="nav-item text-decoration-none">
              <a class="nav-link" href="#"><i class="fa-solid fa-paper-plane fa-1x"></i></a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'post' %}"><i class="fa-regular fa-square-plus fa-1x"></i></a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'explore' %}"><i class="fa-regular fa-compass fa-1x"></i></a>
            </li>
            <li>
              <a class="nav-link" href=""><i class="fa-regular fa-heart fa-1x"></i></a>
            </li>
        
       
       <div class="col ml-4">
        {% if user.is_authenticated %}
        <div class="dropdown" >
          <li class="nav-item dropdown d-flex">
            <a class="nav-link dropdown-toggle " href="#" id="account" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <!-- <i class="fa-solid fa-user bg-dark"></i> -->
                <span class="fa fa-solid fa-user fa-1x"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="account">
              <li><a class="dropdown-item" href="{%url 'index'%}">Home</a></li>
              <li><a class="dropdown-item" href="{%url 'profile'%}">Profile</a></li>
              <li><a class="dropdown-item" href="/accounts/password/change">Change Password</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          
        </div>
        {% else %}
        <ul class="navbar-nav" >
           <li><a class='dropdown-item btn btn-default text-light' href="/accounts/login">Login</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
    
  </div>
</nav>
</body>
</html>